body {
	margin: 0;
	padding: 0;
}
.App {
	font-family: sans-serif;
	text-align: center;
}
nav {
	background: #793d3d;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
nav ul {
	display: flex;
	margin-right: 1em;
}
nav ul li {
	list-style: none;
	color: white;
	padding: 5px;
}

.server {
	border: 0;
	padding: 10px 15px;
	margin-left: 1em;
	background: #793d3d;
	color: white;
}
.active {
	background: red;
}
